<!DOCTYPE html>
<html>
<head>
	<title>Notes</title>

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>
	<!--Import base style.css-->
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body ng-app="notes">
	<nav ng-controller="NavCtrl">
		<div class="nav-wrapper yellow lighten-2">
			<a href id="brand" class="brand-logo grey-text text-darken-2">Notes</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i id="hamburger" class="material-icons grey-text text-darken-2">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li ng-show="isLoggedIn()"><a href class="grey-text text-darken-2">Logged in as: {{ currentUser() }}</a></li>
				<li ng-show="isLoggedIn()"><a href class="grey-text text-darken-2" ng-click="logOut()">Log out</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/login" class="grey-text text-darken-2">Log in</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/register" class="grey-text text-darken-2">Register</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li ng-show="isLoggedIn()"><a href class="grey-text text-darken-2">Logged in as: {{ currentUser() }}</a></li>
				<li ng-show="isLoggedIn()"><a href="" class="grey-text text-darken-2" ng-click="logOut()">Log out</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/login" class="grey-text text-darken-2">Log in</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/register" class="grey-text text-darken-2">Register</a></li>
			</ul>
		</div>
	</nav>
	<div class="section no-pad-bot">
		<div class="container">
			<ui-view></ui-view>
		</div>
	</div>
	<script type="text/ng-template" id="/home.html">
		<div ng-show="loading > 0" class="preloader-wrapper active">
    		<div class="spinner-layer spinner-red-only">
      			<div class="circle-clipper left">
        			<div class="circle"></div>
      			</div>
      			<div class="gap-patch">
        	    	<div class="circle"></div>
      			</div>
      			<div class="circle-clipper right">
        			<div class="circle"></div>
      			</div>
    		</div>
  		</div>
  		<div class="row" ng-show="loading == 0">
			<div class="col s12 m8 offset-m2 l4 offset-l4">
				<div class="card black-text">
					<div class="card-content black-text">
						<span class="card-title grey-text text-darken-2">Add a new note</span>
						<div class="row">
							<div class="col s12" style="padding-bottom: 16px;">
								<ul class="tabs">
									<li class="tab col s3"><a class="active" ng-click="changeNoteType(0)"
									href="#normal-note"><i class="material-icons grey-text text-darken-2">mode_edit</i></a></li>
									<li class="tab col s3"><a ng-click="changeNoteType(1)"
									href="#list-note"><i class="material-icons grey-text text-darken-2">list</i></a></li>
								</ul>
							</div>
							<div class="col s12">
								<input placeholder="Title" ng-model="newNote.title" type="text">
							</div>
							<div id="normal-note" class="col s12">
								<textarea class="materialize-textarea" placeholder="Content" ng-model="newNote.body"></textarea>
							</div>
							<div id="list-note" class="col s12">
								<div ng-repeat="task in newNote.tasks" ng-attr-id="{{ 'task-' + task.id }}">
									<div class="input-field">
         								<i href ng-if="$index > 0" ng-click="deleteTask(task)" class="material-icons prefix grey-text text-darken-2">delete</i>
          								<input placeholder="Write a task.." ng-model="task.task"/>	
        							</div>					
								</div>
								<div class="col s12 right-align">
									<a href ng-click="addTask()" class="grey-text text-darken-2 light">Add task</a>
								</div>
							</div>
						</div>
						<div class="center-align">
							<a class="btn-floating yellow lighten-3" ng-click="newNote.color = 0">
							<i ng-show="newNote.color === 0" class="material-icons grey-text text-darken-2">done</i></a>
							<a class="btn-floating green lighten-3" ng-click="newNote.color = 1">
							<i ng-show="newNote.color === 1" class="material-icons grey-text text-darken-2">done</i></a>
							<a class="btn-floating blue lighten-3" ng-click="newNote.color = 2">
							<i ng-show="newNote.color === 2" class="material-icons grey-text text-darken-2">done</i></a>
							<a class="btn-floating red lighten-3" ng-click="newNote.color = 3">
							<i ng-show="newNote.color === 3" class="material-icons grey-text text-darken-2">done</i></a>
							<a class="btn-floating indigo lighten-3" ng-click="newNote.color = 4">
							<i ng-show="newNote.color === 4" class="material-icons grey-text text-darken-2">done</i></a>
							<a class="btn-floating purple lighten-3" ng-click="newNote.color = 5">
							<i ng-show="newNote.color === 5" class="material-icons grey-text text-darken-2">done</i></a>
							<a class="btn-floating teal lighten-3" ng-click="newNote.color = 6">
							<i ng-show="newNote.color === 6" class="material-icons grey-text text-darken-2">done</i></a>
						</div>
					</div>
					<div class="card-action">
						<a class="grey-text text-darken-2" href ng-click="addNote()">ADD NOTE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-show="loading == 0">
			<div class="col s12 l8 offset-l2">
				<ul class="tabs">
					<li class="tab col s3"><a href class="active grey-text text-darken-2" ng-click="selectedCategory = 0">Personal</a></li>
					<li class="tab col s3"><a href class="grey-text text-darken-2" ng-click="selectedCategory = 1">Groceries</a></li>
					<li class="tab col s3"><a href class="grey-text text-darken-2" ng-click="selectedCategory = 2">Sport</a></li>
					<li class="tab col s3"><a href class="grey-text text-darken-2" ng-click="selectedCategory = 3">Business</a></li>
					<li class="tab col s3"><a href class="grey-text text-darken-2" ng-click="selectedCategory = 4">School</a></li>
					<li class="tab col s3"><a href class="grey-text text-darken-2" ng-click="selectedCategory = 5">Money</a></li>
				</ul>
			</div>
		</div>
  		<div class="row note-container" ng-show="loading == 0">
  			<div class="note" ng-repeat="note in filtered = ( notes | orderBy:'-date' | filter: {category : selectedCategory} )">
       			<div id="{{ 'card-' + note._id }}" ng-class="getNoteClass(note)">
					<div class="card-content">
						<span ng-hide="note.editing" class="card-title truncate grey-text text-darken-2">{{note.title}}</span>
						<input class="card-title grey-text text-darken-2" ng-show="note.editing"  placeholder="Title" ng-model="note.title" type="text">
						<p ng-if="note.noteType == 0 && !note.editing" class="grey-text text-darken-2 note-body">{{note.body}}</p>
						<textarea id="editbody" ng-if="note.noteType == 0 && note.editing" class="materialize-textarea" placeholder="Content" ng-model="note.body"></textarea>
    					<p ng-if="note.noteType == 1 && !note.editing" ng-repeat="task in note.taskList" class="grey-text text-darken-2">
      						<input ng-model="task.finished" ng-change="updateNote(note)" type="checkbox" id="{{ 'task-' + task._id }}" />
      						<label class="grey-text text-darken-2" for="{{ 'task-' + task._id }}">{{task.task}}</label>
    					</p>
    					<div ng-if="note.noteType == 1 && note.editing">
							<div ng-repeat="task in note.taskList" ng-attr-id="{{ 'note-task-' + task.id }}">
								<div class="input-field">
         							<i href ng-if="$index > 0" ng-click="deleteTask(note, task)" class="material-icons prefix grey-text text-darken-2">delete</i>
          							<input placeholder="Write a task.." ng-model="task.task"/>	
        						</div>					
							</div>
							<div class="col s12 right-align">
								<a href ng-click="addTask(note)" class="grey-text text-darken-2 light">Add task</a>
							</div>
						</div>
						<h6 class="light grey-text text-darken-2" am-time-ago="note.date"></h6>
					</div>
					<div class="card-action">
						<a class="grey-text text-darken-2" href ng-click="edit(note)"><i class="material-icons">mode_edit</i></a>
						<a class="grey-text text-darken-2" href ng-click="deleteNote(note)"><i class="material-icons">delete</i></a>
					</div>
				</div>
			</div>
		</div>
    	<div class="row">
    		<div class="col s12 m12 l8 offset-l2" ng-show="filtered.length == 0">
				<div class="card-panel green lighten-3 grey-text text-darken-2">
					No notes in this category, go add your first note!
				</div>
			</div>
    	</div>
	</script>
	<script type="text/ng-template" id="/register.html">
		<div class="row">
			<div class="col s12 m8 offset-m2 l4 offset-l4 card-panel">

				<form ng-submit="register()">
					<div class="row center-align">
						<h3 class="bold grey-text text-darken-2">Register</h3>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text"
							id="username"
							ng-model="user.username"></input>
							<label for="username">Username</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="password"
							id="password"
							ng-model="user.password"></input>
							<label for="password">Password</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="password"
							id="passwordRepeat"
							ng-model="user.passwordRepeat"></input>
							<label for="passwordRepeat">Repeat password</label>
						</div>
					</div>
					<div class="row" ng-show="error">
						<div class="col s12 center-align">
							<div class="card-panel red lighten-2 white-text" >
								<span>{{ error.message }}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12 right-align">
							<button class="btn waves-effect waves-light" type="submit" name="action">Register
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col s12 center-align">
							<a href="/#/login" class="teal-text regular">I already have an account</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="/login.html">
		<div class="row">
			<div class="col s12 m8 offset-m2 l4 offset-l4 card-panel">

				<form ng-submit="logIn()">
					<div class="row center-align">
						<h3 class="grey-text text-darken-2 bold">Log In</h3>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text"
							id="username"
							ng-model="user.username"></input>
							<label for="username">Username</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="password"
							id="password"
							ng-model="user.password"></input>
							<label for="password">Password</label>
						</div>
					</div>
					<div class="row" ng-show="error">
						<div class="col s12 center-align">
							<div class="card-panel red lighten-2 white-text" >
								<span>{{ error.message }}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12 right-align">
							<button class="btn waves-effect waves-light" type="submit" name="action">Login
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col s12 center-align">
							<a href="/#/register" class="teal-text regular">I do not have an account</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</script>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/bower_components/moment/min/moment.min.js"></script>
	<script src="/bower_components/angular-moment/angular-moment.min.js"></script>
	<script src="/javascripts/angularApp.js"></script>
	<script src="/javascripts/base.js"></script>
</body>
</html>