#brand {
	padding-left: 32px;
}

.note-body {
	word-wrap:break-word;
}

.prefix {
	cursor: pointer;
}

.preloader-wrapper {
	position: fixed;
  	z-index: 999;
  	overflow: show;
  	margin: auto;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
}

@media only screen and (max-width: 992px) {
	#hamburger {
		padding-left: 16px;
	}
	#brand {
		padding-left: 0px;
	}
}